*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #212020;
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  border-radius: 30px;
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1/-1;
  background-color: #90878E;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;

}

.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #212020;
  outline: none;
  background-color: #212020;

}
.calculator-grid > button:hover,
.calculator-grid > button:focus{
  background-color: #3c3b3b;
}

.output .previous-operand{
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.output .current-operand{
  color: white;
  font-size: 2.5rem;
}